# Minimum required CMake version
cmake_minimum_required(VERSION 3.20)

set(EXECUTABLE_OUTPUT_PATH ${BIN_DIR})

# Nfqueue C file for device {{device}}
add_executable({{nfqueue_name}} nfqueues.c)
target_link_libraries({{nfqueue_name}} pthread)
IF( OPENWRT_CROSSCOMPILING )
target_link_libraries({{nfqueue_name}} jansson mnl nfnetlink nftnl nftables netfilter_queue netfilter_log)
ENDIF()
target_link_libraries({{nfqueue_name}} nfqueue packet_utils rule_utils)
target_link_libraries({{nfqueue_name}} header {{custom_parsers}})
target_include_directories({{nfqueue_name}} PRIVATE ${INCLUDE_DIR} ${INCLUDE_PARSERS_DIR})
install(TARGETS {{nfqueue_name}} DESTINATION ${EXECUTABLE_OUTPUT_PATH})
